<div class="body-navbar" [style.top]="marginTopBodyNavbar">
  <nav class="guide-title">
      <a routerLink="/sobre"  routerLinkActive="active" ariaCurrentWhenActive="page">Sobre</a>
      <a routerLink="/curriculo" routerLinkActive="active" ariaCurrentWhenActive="page">Currículo</a>
      <a routerLink="/portifolio" routerLinkActive="active" ariaCurrentWhenActive="page">Portfólio</a>
      <a routerLink="/contato" routerLinkActive="active" ariaCurrentWhenActive="page">Contato</a>
      <span class="material-symbols-outlined theme-mode" (click)="changeIcon()">{{ icon }}</span>
  </nav>
</div>
