<div class="body-navbar">
  <!-- <h1 class="title-navbar">Sobre mim</h1> -->
  <nav class="guide-tilte">
      <a routerLink="/sobre" routerLinkActive="active" ariaCurrentWhenActive="page">Sobre</a>
      <a routerLink="/curriculo" routerLinkActive="active" ariaCurrentWhenActive="page">Currículo</a>
      <a routerLink="/portifolio" routerLinkActive="active" ariaCurrentWhenActive="page">Portifólio</a>
      <a routerLink="/contato" routerLinkActive="active" ariaCurrentWhenActive="page">Contato</a>
      <span class="material-symbols-outlined dark-mode">light_mode</span>
  </nav>
</div>
