.header
  display: flex
  flex-direction: column
  background-color: #2B2B2C
  border-radius: 7px
  border: 1px solid blue

.img-perfil
  width: 150px
  height: 150px
  border-radius: 50%
  object-fit: cover


.header-titulo
  position: absolute
  margin: 30px 0 0 210px


.header-subtitulo
  font-size: 16px
  border-radius: 7px
  background-color: #2F2F2F
  text-align: center
  padding: 5px 0
