<div>
    <div class="header" [style.height]="alturaHeader">
        <div class="header-mobile">
            <figure>
                <div class="header-img-border">
                    <img src="https://github.com/ccrismota.png" class="header-img"
                        alt="Cícero Cristiano Rodrigues da Mota">
                </div>
            </figure>
            <div class="header-name">
                <h5>Cícero Cristiano Rodrigues da Mota</h5>
                <p class="header-profession">Full Stack Develop</p>
            </div>

            <!-- Mobile(Menu)-->
            <div class="header-list" *ngIf="!showBotao; else close">
                <span class="material-symbols-outlined" (click)="exibirMenu()">contact_phone</span>
            </div>
            <ng-template #close>
                <div class="header-list">
                    <span class="material-symbols-outlined" (click)="exibirMenu()">close</span>
                </div>
            </ng-template>
        </div>
        <!-- Mobile(Menu)-->
        <!-- section sidebar init-->
        <div class="header-contact" *ngIf="showX; else template"> 
            <ul>
                <li class="header-email">
                    <span class="material-symbols-outlined">mail</span>
                    <P>EMAIL</P>
                    <a href="mailto:ccrismota@gmail.com">ccrismota@gmail.com</a>
                </li>
                <li class="header-cell">
                    <span class="material-symbols-outlined">phone_android</span>
                    <p>CELULAR</p>
                    <a href="#" style="cursor: default;"> +55 (11) 9 6508-6536</a>
                </li>
                <li class="header-bithday">
                    <span class="material-symbols-outlined">calendar_month</span>
                    <p>ANIVERSARIO</p>
                    <a href="#" style="cursor: default;"> 14 Fevereiro, 1987</a>
                </li>
                <li class="header-location">
                    <span class="material-symbols-outlined">home_pin</span>
                    <p>ENDEREÇO</p>
                    <a href="#" style="cursor: default;">Vila Formosa,
                        São Paulo</a>
                </li>
            </ul>
            <div class="header-social-media">
                <ul>
                    <li>
                        <a href="https://github.com/ccrismota"><i class="pi pi-github"></i></a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/in/ccrismota/"><i class="pi pi-linkedin"></i></a>
                    </li>
                    <li>
                        <a href="https://api.whatsapp.com/send?phone=5511965086536"><i class="pi pi-whatsapp"></i></a>
                    </li>
                </ul>
            </div>
        </div> 
        <ng-template #template>
            <div class="header-contact-hidden"> 
                <ul>
                    <li class="header-email">
                        <span class="material-symbols-outlined">mail</span>
                        <P>EMAIL</P>
                        <a href="mailto:ccrismota@gmail.com">ccrismota@gmail.com</a>
                    </li>
                    <li class="header-cell">
                        <span class="material-symbols-outlined">phone_android</span>
                        <p>CELULAR</p>
                        <a href="#" style="cursor: default;"> +55 (11) 9 6508-6536</a>
                    </li>
                    <li class="header-bithday">
                        <span class="material-symbols-outlined">calendar_month</span>
                        <p>ANIVERSARIO</p>
                        <a href="#" style="cursor: default;"> 14 Fevereiro, 1987</a>
                    </li>
                    <li class="header-location">
                        <span class="material-symbols-outlined">home_pin</span>
                        <p>ENDEREÇO</p>
                        <a href="#" style="cursor: default;">Vila Formosa,
                            São Paulo</a>
                    </li>
                </ul>
                <div class="header-social-media">
                    <ul>
                        <li>
                            <a href="https://github.com/ccrismota"><i class="pi pi-github"></i></a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/in/ccrismota/"><i class="pi pi-linkedin"></i></a>
                        </li>
                        <li>
                            <a href="https://api.whatsapp.com/send?phone=5511965086536"><i class="pi pi-whatsapp"></i></a>
                        </li>
                    </ul>
                </div>
            </div> 
        </ng-template>
        <!-- section sidebar end -->
    </div>
    <div class="body">
        <app-navbar class="nav-bar"[marginTopBodyNavbar]="marginTopBodyNavbar"></app-navbar>
        <div class="container-fluid" [style.top]="topContainerFluid">
            <router-outlet></router-outlet>
        </div>
    </div>    
</div>