 <h1 class="title-navbar">Sobre mim</h1>
<div class="sobre">
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit,
    accusamus optio? Cupiditate voluptatum eligendi laboriosam aut velit illum porro saepe,
    esse tenetur voluptatem provident deserunt illo vero aperiam praesentium ipsa.</p>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Optio unde veniam repellat,
    quidem ex recusandae consectetur itaque maxime ipsa aliquid sit quod architecto nihil?
     Architecto rerum sint itaque? Illo, molestiae.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit,
    accusamus optio? Cupiditate voluptatum eligendi laboriosam aut velit illum porro saepe,
    esse tenetur voluptatem provident deserunt illo vero aperiam praesentium ipsa.</p>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Optio unde veniam repellat,
    quidem ex recusandae consectetur itaque maxime ipsa aliquid sit quod architecto nihil?
     Architecto rerum sint itaque? Illo, molestiae.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit,
    accusamus optio? Cupiditate voluptatum eligendi laboriosam aut velit illum porro saepe,
    esse tenetur voluptatem provident deserunt illo vero aperiam praesentium ipsa.</p>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Optio unde veniam repellat,
    quidem ex recusandae consectetur itaque maxime ipsa aliquid sit quod architecto nihil?
     Architecto rerum sint itaque? Illo, molestiae.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit,
    accusamus optio? Cupiditate voluptatum eligendi laboriosam aut velit illum porro saepe,
    esse tenetur voluptatem provident deserunt illo vero aperiam praesentium ipsa.</p>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit,
    accusamus optio? Cupiditate voluptatum eligendi laboriosam aut velit illum porro saepe,
    esse tenetur voluptatem provident deserunt illo vero aperiam praesentium ipsa.</p>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Optio unde veniam repellat,
    quidem ex recusandae consectetur itaque maxime ipsa aliquid sit quod architecto nihil?
     Architecto rerum sint itaque? Illo, molestiae.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit,
    accusamus optio? Cupiditate voluptatum eligendi laboriosam aut velit illum porro saepe,
    esse tenetur voluptatem provident deserunt illo vero aperiam praesentium ipsa.</p>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Optio unde veniam repellat,
    quidem ex recusandae consectetur itaque maxime ipsa aliquid sit quod architecto nihil?
     Architecto rerum sint itaque? Illo, molestiae.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit,
    accusamus optio? Cupiditate voluptatum eligendi laboriosam aut velit illum porro saepe,
    esse tenetur voluptatem provident deserunt illo vero aperiam praesentium ipsa.</p>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Optio unde veniam repellat,
    quidem ex recusandae consectetur itaque maxime ipsa aliquid sit quod architecto nihil?
     Architecto rerum sint itaque? Illo, molestiae.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit,
    accusamus optio? Cupiditate voluptatum eligendi laboriosam aut velit illum porro saepe,
    esse tenetur voluptatem provident deserunt illo vero aperiam praesentium ipsa.</p>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Optio unde veniam repellat,
    quidem ex recusandae consectetur itaque maxime ipsa aliquid sit quod architecto nihil?
     Architecto rerum sint itaque? Illo, molestiae.</p>
</div>
