<div class="sobre-container">
  <h2 class="title-navbar">Sobre mim</h2>
  <div class="limite-superior">
    <div class="line"></div>
  </div>
  <div class="sobre">
    <p>
      Nasci em Belo Jardim, em 1987, cidade do interior de Pernambuco, local
      onde morei até os 14 anos. E em 2002, mudei para a cidade de São Paulo
      onde moro atualmente.
    </p>
    <p>
      Em 2020, em São Paulo, cursei Excel avançado, no Senai Roberto Simonsen,
      no Brás, para melhorar meu desempenho no trabalho e gostei tanto da parte
      de programação que no final do mesmo ano, decidi cursar Analise e
      Desenvolvimento de Sistemas na Fatec Ipiranga, curso que estou cursando o
      segundo semestre atualmente.
    </p>    
    <p>
      Desde janeiro deste ano, tenho participado de treinamentos e cursos, com a
      finalidade de aprender novas tecnologias e consolidar os conhecimentos
      obtidos na faculdade. Entre os meses de fevereiro a março, cursei Java básico,
      pela fundação Bradesco e entre abril e maio, cursei Estrutura de Dados e
      linguagem SQL com SQL Server e postgreSQL, pela Digital Innovation One (DIO)
      e também na mesma plataforma cursei Python. Além disso, já desenvolvi alguns
      aplicativos do tipo calculadora para cálculo de IMC no Android Studio com Kotlin,
      entre outros pequenos projetos frutos de Bootcamps oferecidos pela DIO.
    </p>
    <P>
      Gosto de praticar exercícios, ler um bom livro e nas horas vagas gosto de ver documentários
       sobre astronomia e as novas descobertas sobre o universo e filmes de ficção cientifica.
    </P>       
  </div>
</div>
