<div class="sobre-container">
  <h2 class="title-navbar">Sobre mim</h2>
  <div class="limite-superior">
    <div class="line"></div>
  </div>
  <div class="sobre">
    <p>
      Nasci em Belo Jardim, uma cidade do interior de Pernambuco, em 1987,
      e lá vivi até os 14 anos. Em 2002, me mudei para São Paulo, onde moro atualmente.
    </p>
    <p>
      Em 2020, aqui em São Paulo, fiz um curso avançado de Excel no Senai Roberto Simonsen, no Brás, visando aprimorar
      meu desempenho profissional. Durante o curso, descobri minha paixão pela programação e, no final desse mesmo ano,
      decidi ingressar no curso de Análise e Desenvolvimento de Sistemas na Fatec Ipiranga.
    </p>
    <p>
      Atualmente, estou no último semestre e possuo conhecimentos em Java, Javascript, Angular, React, HTML, CSS,
      Bootstrap, Figma e DevOps CI/CD com GitHub projects. Além disso, minha experiência inclui estágio no Atacadão SA,
      onde pude contribuir fornecendo suporte técnico aos usuários de sistemas internos.
    </p>
    <P>
      Fora da área profissional, tenho interesse em atividades físicas, leitura de livros e gosto de me informar sobre
      as últimas descobertas astronômicas e assistir a filmes de ficção científica nos momentos de lazer.
    </P>
    <p>
      Estou ansioso para aprender com os melhores profissionais do mercado, aplicar as melhores práticas de
      desenvolvimento e contribuir para proporcionar uma experiência excepcional aos usuários das tecnologias que
      desenvolvermos. Agradeço pela consideração e aguardo ansiosamente a oportunidade de discutir como posso contribuir
      para o sucesso da equipe.
    </p>
  </div>
</div>