.title-navbar
  position: absolute
  font-size: 25px
  margin: 2px 0 0 2%
  padding: 0
  top: 10px

.line
  width: 40px
  height: 5px
  margin: 2.5% 0 0 3%
  background-color: #FEC161
  border-radius: 2px

.sobre
  display: flex
  flex-direction: column
  align-items: flex-start
  justify-content: start
  border-radius: 7px
  line-height: 1.8

  .image
    float: right
    margin: -30% 3% 0 0
    img
      width: 500px
      height: 250px
      object-fit: cover
      border-radius: 70% 50% 70% 5%
      border: 1px solid #fdda6f
      box-shadow: 0 0 10px #FEC161

  .container
    margin: 2.5% 3% 0 3%
    top: 80px
    text-align: justify
    .container-title
      .icon-school
        float: left
        display: flex
        align-items: center
        padding: 5px
        border: 1px solid #383838
        border-radius: 5px
        span
          font-size: 20px
          color: #fdda6f
      h3
        float: left
        margin: -2px 0 -5px 15px
        font-size: 20px

    .container-subtitle
      .icon-sub
        float: left
        display: flex
        margin: 0 0 0 6px
        padding: 2px
        border: 1px solid #383838
        border-radius: 50%
        span
          font-size: 10px
          margin: 1.2px
          background-color: #fdda6f
          border-radius: 50%
      h3
        float: left
        margin: -5px 0 -5px 23px
        font-size: 15px

  .line-timeline-1
    clear: both
    border-left: 1px solid #383838
    height: 25px
    margin: 0 0 0 15px

  .line-timeline-2
    clear: both
    border-left: 1px solid #383838
    height: 80px
    margin: 0 0 0 15px

  .line-timeline-3
    clear: both
    border-left: 1px solid #383838
    height: 115px
    margin: 0 0 0 15px

  .timeline-body
    display: flex
    flex-direction: column
    span
      margin: 10px 0 -7px 31px
      color: #fdda6f
    p
      margin: 10px 0 -7px 31px
      color: #D6D6D6

  .icon-work
    float: left
    display: flex
    align-items: center
    padding: 5px
    border: 1px solid #383838
    border-radius: 5px
    span
      font-size: 20px
      color: #fdda6f
  h4
    float: left
    margin: 10px 0 -5px 32px
    font-size: 15px

.line-timeline-4
    clear: both
    border-left: 1px solid #383838
    height: 220px
    margin: 0 0 0 15px

.line-timeline-5
    clear: both
    border-left: 1px solid #383838
    height: 165px
    margin: 0 0 0 15px

.line-timeline-6
    clear: both
    border-left: 1px solid #383838
    height: 200px
    margin: 0 0 0 15px

.line-timeline-7
    clear: both
    border-left: 1px solid #383838
    height: 165px
    margin: 0 0 0 15px

.line-timeline-8
    clear: both
    border-left: 1px solid #383838
    height: 320px
    margin: 0 0 0 15px

.line-timeline-9
    clear: both
    border-left: 1px solid #383838
    height: 290px
    margin: 0 0 0 15px

.line-timeline-10
    clear: both
    margin: 0 0 0 15px

