.limite-superior
  position: absolute
  width: calc( 100% - 247px )
  height: 8%
  z-index: 999
  background-color: var(--bg2-color)
  a
    position: absolute
    text-decoration: none
    color: var(--icon-color)
    margin: -18px 0 0 calc( 100% - 150px)
    font-size: 12px
    &:hover
      color: var(--text-color)
      text-decoration: underline
  i
    padding: 0 7px

.title-navbar
  position: absolute
  color: var(--text-color)
  font-size: 25px
  margin: -5px 0 0 25px
  padding: 0
  top: 13px

.line
  width: 40px
  height: 5px
  margin: 25px 0 0 25px
  background-color: var(--underscore)
  border-radius: 2px

.curriculo
  display: flex
  color: var(--text-color)
  flex-direction: column
  align-items: flex-start
  justify-content: flex-start
  border-radius: 7px
  line-height: 1.8
  overflow-x: hidden


  section:nth-child(1)
    margin: 7% 2% 0 1%


  .container-fluid
    display: flex
    flex-direction: column
    margin: 25px 0px 0 15px
    top: 80px
    text-align: justify

  .container-title
    .icon-school
      float: left
      display: flex
      align-items: center
      padding: 5px
      border: 1px solid var(--line-color)
      border-radius: 5px
      span
        font-size: 20px
        color: var(--icon-color)
    h3
      float: left
      margin: 0 0 0 15px
      padding: 0 0 5px 0
      font-size: 20px

  .container-subtitle
    .icon-sub
      float: left
      display: flex
      margin: 0 0 0 6px
      padding: 2px
      border: 1px solid var(--line-color)
      border-radius: 50%
      span
        font-size: 10px
        margin: 1.2px
        background-color: var(--icon-color)
        border-radius: 50%
    h4
      margin: 0 0 -5px 49px
      font-size: 15px

  .timeline-body
    display: flex
    flex-direction: column
    padding-bottom: 20px
    span
      margin: 10px 0 -7px 31px
      color: var(--icon-color)  
    p
      margin: 10px 0 -7px 31px
      color: var(--text-color-second)
    h5
      padding: 15px 7px 0 33px
      font-size: 15px
      width: 100%
      

  .icon-work
    float: left
    display: flex
    align-items: center
    padding: 5px
    border: 1px solid var(--line-color)
    border-radius: 5px
    span
      font-size: 20px
      color: var(--icon-color)

  .line-timeline,
  .line-timeline-1, 
  .line-timeline-2, 
  .line-timeline-3,
  .line-timeline-4,
  .line-timeline-5
    clear: both
    border-left: 1px solid var(--line-color)
    height: 100%
    margin: 0 0 0 15px

  .line-timeline-1
    border: none


@media screen and (min-width: 275px) and (max-width: 1060px)
  .limite-superior
    height: 20px
  

@media screen and (min-width: 275px) and (max-width: 850px)
  
  .limite-superior
    margin: 50px 0 0 25px
    height: 15px
    width: calc( 100% - 5px )
  
  .title-navbar
    margin: -5px 0 0 16px

  .line
    margin: -7px 0 0 -7px
  
  .curriculo    
    p:nth-child(1)
      margin-top: 30%
    p:nth-child(4)
      margin-bottom: 5%
    .container-fluid
      position: absolute 
      margin: 0 5px 0 -5px  
      width: 95%
    section:nth-child(1)
      margin-top: -10px
  
    .line-timeline-2
      margin-top: -50px
      padding: 15px 0 0 0
    
    .line-timeline-3, 
    .line-timeline-4   
      margin: -17px 0 0 15px
      padding: 15px 0 0 0
    
    .line-timeline-5   
      margin: -17px 0 0 15px
      padding: 7px 0 0 0
    
    