<div>
  <h2 class="title-navbar">Currículo</h2>
  <div class="limite-superior">
    <div class="line"></div>
    <a href="https://drive.google.com/uc?export=download&id=1r2jUQHD0mN0_dPojqbOdi1uMDFgyXYMQ">Download<i class="pi pi-download"></i></a>
  </div>
  <div class="curriculo">
    <section class="container d-flex">
      <!-- SEÇÃO qualificações inicio -->
      <div>
        <div class="container-title col">
          <i class="icon-school">
            <span class="material-symbols-outlined">neurology</span>
          </i>
          <h3>Qualificações</h3>
        </div>
        <!-- item formação academica inicio -->
        <div class="container-subtitle col">
          <div class="line-timeline-1"></div>
          <i class="icon-sub">
            <span class="material-symbols-outlined">circle</span>
          </i>
          <h4>Resumo</h4>
          <div class="line-timeline-1">
            <div class="timeline-body">
              <p>
                Estudante de desenvolvimento Java web com experiência em suporte no Atacadão SA
                e na Instituição Paulista Adventista de Educ. e as. Social. Experiência em desenvolvimento
                de sistemas web (MVC), conhecimentos em Java, Spring, JPA, Hibernate e linguagem SQL.
                Habilidades em Typescript, Angular, React, HTML, CSS, Bootstrap, Figma e DevOps CI/CD
                com Github projects. Busco oportunidades para aplicar minha paixão pelo desenvolvimento
                de aplicações, combinando habilidades técnicas em Java, Javascript e diversos frameworks
                para contribuir efetivamente em projetos desafiadores.
              </p>
            </div>
          </div>
        </div>
      </div>
      <!-- SEÇÃO qualificações fim -->
      <!-- SEÇÃO formação academica inicio -->
      <div>
        <div class="container-title col">
          <i class="icon-school">
            <span class="material-symbols-outlined">school</span>
          </i>
          <h3>Formação Acadêmica</h3>
        </div>
        <!-- item formação academica inicio -->
        <div class="container-subtitle col">
          <div class="line-timeline-2"></div>
          <i class="icon-sub">
            <span class="material-symbols-outlined">circle</span>
          </i>
          <h4>Fatec Ipiranga - Pastor Enéas Tognini</h4>
          <div class="line-timeline-2">
            <div class="timeline-body">
              <span>2021 - 2024</span>
              <p>Análise e Desenvolvimento de Sistemas</p>
            </div>
          </div>
          <div class="line-timeline-3"></div>
          <i class="icon-sub">
            <span class="material-symbols-outlined">circle</span>
          </i>
          <h4>Fatec Itaquera - Professor Miguel Reale</h4>
          <div class="line-timeline-4">
            <div class="timeline-body">
              <span>2016 - 2020</span>
              <p>Mecânica: processos de Soldagem</p>
            </div>
          </div>
        </div>
        <!-- item formação academica fim -->
      </div>
      <!-- SEÇÃO formação academica fim -->
      <!-- SEÇÃO experiencia inicio -->
      <div class="col">
        <div class="container-title">
          <i class="icon-work">
            <span class="material-symbols-outlined">work</span>
          </i>
          <h3>Experiência Profissional</h3>
        </div>
        <!-- item EXPERIENCIA I inicio -->
        <div class="container-subtitle d-flex">
          <div class="line-timeline-5"></div>
          <i class="icon-sub">
            <span class="material-symbols-outlined">circle</span>
          </i>
          <h4>Instituição Paulista Adventista de Educ. e as. Social</h4>
          <div class="line-timeline-5 col">
            <div class="timeline-body">
              <span>2021 - 2022</span>
              <h4>Analista de Suporte</h4>
              <p>
                Suporte a usuários Windows, realizando instalações/atualizações
                de programas e instalação de impressoras; atendendo chamados referente
                ao sistema MV (sistema hospitalar) de acordo com os critérios de priodidade
                definida pela empresa, nos quais eram realizados filtros através de contato
                telefônico para posteriormente seguir com o atendimento. Boa parte
                desses chamados resumia-se em criação de usuários, liberar acesso e orientar quanto aos
                novos acessos liberados quando necessário.
              </p>
            </div>
          </div>
        </div>
        <!-- item EXPERIENCIA I fim -->
        <!-- item EXPERIENCIA II inicio -->
        <div class="container-subtitle d-flex">
          <div class="line-timeline-1"></div>
          <i class="icon-sub">
            <span class="material-symbols-outlined">circle</span>
          </i>
          <h4>Aceflan Acessórios Industriais</h4>
          <div class="line-timeline-5 col">
            <div class="timeline-body">
              <span>2019 - 2020</span>
              <h4>Almoxarife</h4>
              <p>
                Experiência com recebimento, organização do estoque e distribuição do material para
                atender pedidos, além disso realiza carga e descarga mercadorias. Conferências de notas
                fiscais, verificação visual do produto e analise conforme especificações normativas.
              </p>
            </div>
          </div>
        </div>
        <!-- item EXPERIENCIA II fim -->
        <!-- item EXPERIENCIA III inicio -->
        <div class="container-subtitle d-flex">
          <div class="line-timeline-6"></div>
          <i class="icon-sub">
            <span class="material-symbols-outlined">circle</span>
          </i>
          <h4>Conesteel Válvulas e Conexões Industriais Ltda</h4>
          <div class="line-timeline-6 col">
            <div class="timeline-body">
              <span>2009 - 2017</span>
              <h4>Inspetor de Qualidade</h4>
              <p>
                Estruturas de seleção e de repetição, vetores e matrizes, classes e objetos,
                métodos, atributos, encapsulamento, herança, polimorfismo, interfaces, tratamento de
                exceções, coleções, List, ArrayList, LinkedList, Set, HashSet, Map, HashMap.
                Generics, programação funcional e expressões lambda, Stream API e manipulação de arquivos;
                Ferramentas e frameworks para se trabalhar com Java profissionalmente no mercado, tais como:
                JDBC para acesso a dados baseado em SQL, JavaFX para interface gráfica, Git e Github para versionamento,
                Spring Boot - principal framework Java para desenvolvimento comercial em Java, JPA / Hibernate para
                acesso
                a dados com mapeamento objeto-relacional (ORM), Maven para gerenciamento de dependências de projeto,
                Spring Data JPA - framework para acesso a dados ORM, Spring Data MongoDB - framework para acesso a dados
                NoSQL ao banco MongoDB.
              </p>
            </div>
          </div>
        </div>
        <!-- item EXPERIENCIA III fim -->
      </div>
      <!-- SEÇÃO experiencia fim -->
      <!-- SEÇÃO Cursos complementares inicio -->
      <div class="d-flex">
        <div class="container-title col">
          <i class="icon-school">
            <span class="material-symbols-outlined">engineering</span>
          </i>
          <h3>Formação complementar</h3>
        </div>
        <!-- item I Cursos complementares inicio -->
        <div class="container-subtitle d-flex">
          <div class="line-timeline-7"></div>
          <i class="icon-sub">
            <span class="material-symbols-outlined">circle</span>
          </i>
          <h4>Soulcode Academy</h4>
          <div class="line-timeline-7 col">
            <div class="timeline-body">
              <span>De abril a agosto de 2022 - 640h</span>
              <h4>Desenvolvedor Java Full Stack</h4>
              <p>
                Estudante de Análise e Desenvolvimento de Sistemas com conhecimento em HTML5,
                CSS3, JavaScript, Python, Bootstrap, Angular, Firebase. Java - Orientação a Objetos,
                Spring – API RestFull e banco de dados MySQL, ORM-Hibernate, Segurança - Spring
                security, JWT, e DevOps CI/CD com Github projects.
              </p>
            </div>
          </div>
        </div>
        <!-- item I Cursos complementares fim -->
        <!-- item II Cursos complementares inicio -->
        <div class="container-subtitle d-flex">
          <div class="line-timeline-8"></div>
          <i class="icon-sub">
            <span class="material-symbols-outlined">circle</span>
          </i>
          <h4>Udemy</h4>
          <div class="line-timeline-8 col">
            <div class="timeline-body">
              <span>De Janeiro a maio de 2021 - 54h</span>
              <h4>Java completo Programação Orientada a Objetos +Projetos</h4>
              <p>
                Estruturas de seleção e de repetição, vetores e matrizes, classes e objetos,
                métodos, atributos, encapsulamento, herança, polimorfismo, interfaces, tratamento de
                exceções, coleções, List, ArrayList, LinkedList, Set, HashSet, Map, HashMap.
                Generics, programação funcional e expressões lambda, Stream API e manipulação de arquivos;
                Ferramentas e frameworks para se trabalhar com Java profissionalmente no mercado, tais como:
                JDBC para acesso a dados baseado em SQL, JavaFX para interface gráfica, Git e Github para versionamento,
                Spring Boot - principal framework Java para desenvolvimento comercial em Java, JPA / Hibernate para
                acesso
                a dados com mapeamento objeto-relacional (ORM), Maven para gerenciamento de dependências de projeto,
                Spring Data JPA - framework para acesso a dados ORM, Spring Data MongoDB - framework para acesso a dados
                NoSQL ao banco MongoDB.
              </p>
            </div>
          </div>
        </div>
        <!-- item II Cursos complementares fim -->
        <!-- item III Cursos complementares inicio -->
        <div class="container-subtitle d-flex">
          <div class="line-timeline-9"></div>
          <i class="icon-sub">
            <span class="material-symbols-outlined">circle</span>
          </i>
          <h4>Udemy</h4>
          <div class="line-timeline-9 col">
            <div class="timeline-body">
              <span>De março a dezembro de 2021 - 68h</span>
              <h4>Desenvolvimento Web Full Stack com Python e Django</h4>
              <p>
                <strong>HTML5: </strong> cabeçalhos, listas, imagens, links, tabelas, formulários, hear, nav, footer,
                article, section aside.
                <strong>CSS3 Intermediário:</strong> seletores, div & span, cores, modelo caixa, elementos flutuantes,
                posicionamento, formatando links
                <strong>CSS3 avançado:</strong> herança, especifidade, barra navegação vertical e horizontal, abas,
                layouts líquidos, largura fixa, parallax, fontes customizadas
                <strong>Recursos especiais:</strong> normalize css, cantos arredondados, degradês, sombras, animações,
                transições, flexbox
                <strong>Bootstrap:</strong> responsivo, textos, alinhamentos, cores, media query, botões, barra
                navegação, listas, inputs, alertas, tabelas, cards, grids, flexbox
                <strong>Javascript:</strong> variáveis, array, condicionais, funções, orientação a objetos, objetos
                literais, protótipos, DOM, eventos, métodos de array
              </p>
            </div>
          </div>
        </div>
        <!-- item III Cursos complementares fim -->
        <!-- item IV Cursos complementares inicio -->
        <div class="container-subtitle d-flex">
          <div class="line-timeline-10"></div>
          <i class="icon-sub">
            <span class="material-symbols-outlined">circle</span>
          </i>
          <h4>SENAI Roberto Simonsen</h4>
          <div class="line-timeline-10 col">
            <div class="timeline-body">
              <span>De julho a setembro de 2015 - 40h</span>
              <h4>Excel Avançado</h4>
              <p>
                Funções do excel, tabelas e gráficos dinâmicos, análise de dados, macros,
                tipos de macros, construção e execução; Ambiente VBA, técnicas de programação,
                funções definidas pelo usuário, desenvolver funções com Visual Basic (VBA) e macros com excel.
              </p>
            </div>
          </div>
        </div>
        <!-- item IV Cursos complementares fim -->
      </div>

      <!-- SEÇÃO Cursos complementares fim -->
    </section>

  </div>
</div>