.limite-superior
  position: absolute
  display: flex
  width: calc( 100% - 15%)
  height: 8%
  z-index: 999
  background-color: var(--bg2-color)
  
.title-navbar
  position: absolute
  display: flex
  justify-content: start
  font-size: 25px
  margin: -35px 0 0 2%

.line
  width: 40px
  height: 5px
  margin: 3% 0 0 2.6%
  background-color: var(--underscore)
  border-radius: 2px

.curriculo
  display: flex
  flex-direction: column
  align-items: flex-start
  justify-content: start
  border-radius: 7px
  line-height: 1.8
  
  section:nth-child(1)
    margin-top: 7%


.container
  display: flex
  flex-direction: column
  margin: 2.5% 3% 0 3%
  top: 80px
  text-align: justify
  .container-title
    .icon-school
      float: left
      display: flex
      align-items: center
      padding: 5px
      border: 1px solid var(--line-color)
      border-radius: 5px
      span
        font-size: 20px
        color: var(--icon-color)
    h3
      float: left
      margin: 0 0 0 15px
      padding: 0 0 5px 0
      font-size: 20px

// .container-subtitle
//   border: 1px solid red

.container-subtitle
  .icon-sub
    float: left
    display: flex
    margin: 0 0 0 6px
    padding: 2px
    border: 1px solid var(--line-color)
    border-radius: 50%
    span
      font-size: 10px
      margin: 1.2px
      background-color: var(--icon-color)
      border-radius: 50%
  h4
    float: left
    margin: -2px 0 -5px 23px
    font-size: 15px
   

.timeline-body
  display: flex
  flex-direction: column
  padding-bottom: 20px
  span
    margin: 10px 0 -7px 31px
    color: var(--icon-color)
  p
    margin: 10px 0 -7px 31px
    color: var(--text-color-second)
  h4
    padding: 15px 7px 0 7px
    font-size: 15px
    width: 100%
    

.icon-work
  float: left
  display: flex
  align-items: center
  padding: 5px
  border: 1px solid var(--line-color)
  border-radius: 5px
  span
    font-size: 20px
    color: var(--icon-color)

.line-timeline-1
  clear: both
  border-left: 1px solid var(--line-color)
  height: 100%
  margin: 0 0 0 15px

.line-timeline-2
  clear: both
  border-left: 1px solid var(--line-color)
  height: 100%
  margin: 0 0 0 15px
  padding-bottom: 20px

.line-timeline-3
  clear: both
  border-left: 1px solid var(--line-color)
  height: 115px
  margin: 0 0 0 15px

.line-timeline-4
  clear: both
  border-left: 1px solid var(--line-color)
  height: 100%
  margin: 0 0 0 15px

.line-timeline-5
  clear: both
  border-left: 1px solid var(--line-color)
  height: 100%
  margin: 0 0 0 15px

.line-timeline-6
  clear: both
  border-left: 1px solid var(--line-color)
  height: 100%
  margin: 0 0 0 15px

.line-timeline-7
  clear: both
  border-left: 1px solid var(--line-color)
  height: 100%
  margin: 0 0 0 15px

.line-timeline-8
  clear: both
  border-left: 1px solid var(--line-color)
  height: 100%
  margin: 0 0 0 15px

.line-timeline-9
  clear: both
  border-left: 1px solid var(--line-color)
  height: 100%
  margin: 0 0 0 15px

.line-timeline-10
  clear: both
  margin: 0 0 0 15px
