.limite-superior
  position: absolute
  display: flex
  width: calc( 100% - 247px )
  height: 8%
  z-index: 999
  background-color: var(--bg2-color)

.title-navbar
  position: absolute
  color: var(--text-color)
  font-size: 25px
  margin: -5px 0 0 25px
  padding: 0
  top: 13px

.line
  width: 40px
  height: 5px
  margin: 25px 0 0 25px
  background-color: var(--underscore)
  border-radius: 2px

.portifolio
  display: flex
  flex-direction: column
  align-items: flex-start
  justify-content: flex-start
  border-radius: 7px
  line-height: 1.8
  p
    margin: 15px 0 0 15px
    top: 80px
    text-align: justify

  section:nth-child(1)
    margin-top: 5%

.container 
  display: flex
  color: var(--text-color)

.d-flex-2, .projetos
  display: flex
  flex-direction: row
  align-items: flex-start
  justify-content: space-between
  flex-wrap: wrap
  margin: 0 0 20px 0
  


.html, .javascript, .css, .angular, .java,
.linguageC, .mysql, .react, .node, .typescript,
.git, .github, .eclipse, .spring, .bootstrap,
.intellij, .php, .python, .figma, .git,
.postgres, .github, .npm, .sass, .trelo,
.django, .android, .flask, .yarn, .oracleCloud,
.auth0, .pycharm, .vscode
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  margin: 18px
  width: 80px
  height: 80px
  padding: 0
  font-size: 12px
  color: var(--text-color)
  p
    margin: 0
    text-align: center

.vscode:hover, .html:hover, .javascript:hover, .css:hover, .angular:hover,
.java:hover, .linguageC:hover, .mysql:hover, .react:hover, .node:hover,
.typescript:hover, .git:hover, .github:hover, .eclipse:hover, .spring:hover,
.bootstrap:hover,.intellij:hover, .php:hover, .python:hover, .figma:hover,
.git:hover, .postgres:hover, .github:hover,.npm:hover, .sass:hover,
.trelo:hover, .django:hover, .android:hover, .flask:hover, .yarn:hover,
.oracleCloud:hover,.auth0:hover, .pycharm:hover
  transform: scale(1.3)
  transition: all 0.3s ease-in-out

.github, .flask
  fill: var(--github)

.auth0, .pycharm
  display: flex
  align-items: center
  flex-direction: column
  width: 50
  height: 50

//projetos

.titulo-projetos
  display: flex
  width: 100%
  margin: 0 0 0 25px
  color: var(--text-color)
  p
    margin: 0

.projetos
  display: flex
  flex-direction: row
  align-items: center
  justify-content: center
  flex-wrap: wrap

.card
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  margin: 35px 25px 25px 45px
  &:hover
    transform: scale(1.1)
    transition: all 0.5s ease-in-out
    background-color: none
    .card-body::after
      width: 0
      height: 0
    .card-body p
      display: none

.card-body
  width: 100%
  height: 212px
  padding: 0
  border: 1px solid var(--text-color-second)
  color: var(--text-color)
  border-radius: 3px 3px 0 0
  &::after
    display: block
    text-align: center
    opacity: 90%
    content: ''
    background-color: var(--bg-project)
    width: 100%
    height: 101%
    border-radius: 7px 7px 0 0
    margin: -256px 0 0 0

.card-body img  
  border-radius: 7px 7px 0 0
  width: 100%
  height: 100%

.card-body p
  position: relative
  justify-content: center
  color: #fff
  font-weight: bold  
  font-size: 20px
  z-index: 999
  top: -130px
  left: 30%
  right: 30%

.card-body
  .html
    position: absolute
    justify-content: center
    align-items: center
    color: var(--icon-color)
    width: 20px
    height: 20px
    top: 110px
    left: 130px
  .css
    position: absolute
    justify-content: center
    align-items: center
    color: var(--icon-color)
    width: 20px
    height: 20px
    top: 110px
    left: 160px


.card-footer
  display: flex
  flex-direction: row
  align-items: center
  width: 100%
  height: 40px
  justify-content: space-between
  background-color: var(--bg-vermais)
  color: var(--text-color)
  border-radius: 0 0 7px 7px
  padding: 0 5px
  font-size: 12px
  p 
    margin: -4px 0 0 7px

  span
    text-decoration: none
    font-weight: bold
    width: 60px
    border-radius: 5px
    padding: 2px 0
    color: var(--icon-color)
    transition: 0.5s ease-in-out
    &:hover
      color: var(--icon-color)
      text-decoration: underline
      transition: 0.3s ease-in-out
      cursor: pointer

.modal-header
  background-color: var(--bg-color)
  color: var(--icon-color)
  border-bottom: none
  h4
    font-weight: bold
    width: 100%
    margin-left: 51%
  
.modal-header
  button 
    color: var(--icon-color)
    i
      position: absolute
      margin: -10px 0 0 -10px
      font-size: 20px


.modal-body
  background-color: var(--bg-color)
  color: var(--text-color)
  text-align: justify
  padding: 0 16px 16px 16px
  p
    font-size: 12px
    margin: -35px 10px 10px 0
  .btn-repositorio
    margin-left: 15px
  .btn-projeto
    margin-left: 8px
  button
    background-color: var(--icon-color)
    border: 1px solid var(--line-color)
    color: var(--bg-color)
    &:hover,&:focus
      background: var(--bg-color)
      color: var(--icon-color)
      border: 1px solid var(--icon-color)

.video
  display: flex
  margin-top: -70px




@media screen and (min-width: 851px) and (max-width: 1060px)
  
  .limite-superior
    height: 10px

  .projetos
    flex-direction: column
    align-items: center
    justify-content: center
    
  .card
    width: 100%


@media screen and (min-width: 275px) and (max-width: 850px)
  
  .limite-superior
    margin: 50px 0 0 25px
    height: 15px
    width: calc( 100% - 75px )

  .line
    margin: -7px 0 0 2px
  
  .portifolio
    display: flex
    align-items: center
    justify-content: center
    margin: 0 
    padding: 0
    p:nth-child(4)
      margin-bottom: 5%
    p
      margin: 0 0 0 12px
    section:nth-child(1)
      margin-top: 17%

  .d-flex-2   
    padding: 0
    margin: 0 0 20px 0

  .projetos
    width: 100%
    flex-direction: column
    align-items: center
    justify-content: center

  .card
    width: 100%
    margin: 25px 20px 25px 20px 
      
  .card-body
    width: 100%
    &::after
      margin: -240px 0 0 0
      width: 100%

  .card-body img
    width: 100%

    